@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue\ Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  padding: 1rem;
  margin: 0;
  background: linear-gradient(to bottom, #340f67, #170f24);
  min-height: 100dvh;
  display: grid;
  place-content: center;
  font-family: BebasNeue;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
}

:root {
  --primary: #ff00ff;
  --secondary: #00ffff;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

#training_hours {
  font-size: 12.21rem;
}

h3 {
  font-size: 4.37rem;
  margin-top: -1.875rem;
}

.split {
  font-size: 4.11rem;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.split::before {
  content: "";
  align-self: stretch;
  border: 1px solid var(--primary);
}

.split_left {
  text-align: right;
  order: -1;
}

.split_right {
  text-align: left;
}

.countdown-text {
  margin-top: 50px;
  font-size: 4rem;
}

.timer-wrapper {
  border: 10px solid var(--primary);
  border-radius: 28px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

.timer {
  border: 10px solid #170f24;
  background: linear-gradient(to bottom, #340f67, #170f24);
  padding: 40px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}

.timer_block {
  width: 100%;
}

.timer_block__content {
  background: #1c1230;
  width: 428px;
  height: 234px;
  font-size: 10rem;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}

.timer_block__content span {
  transition: transform 150ms linear;
  animation: slideUp 150ms linear;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: none;
  }
}

.timer_block__label {
  font-size: 5rem;
  margin-top: 10px;
}

.timer_separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 234px;
  padding: 0 20px;
}

.timer_separator div {
  width: 24px;
  height: 24px;
  background: var(--primary);
  border-radius: 4px;
}

#logo {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 246px;
  height: auto;
}

#banner {
  position: absolute;
  top: 80px;
  right: 100px;
  width: 278px;
  height: auto;
  filter: brightness(1.8) contrast(1.1) saturate(1.4);
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 12px;
  } 

  .timer_block__content {
    width: 300px;
    height: 200px;
  }

  #logo {
    top: 40px;
    left: 50px;
    width: 200px;
  }

  #banner {
    width: 240px;
    top: 40px;
    right: 50px;
  }

  .countdown-text, .split {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .timer_block__content {
    width: 100%;
  } 
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .timer {
    flex-direction: column;
    gap: 2rem;
  } 

  .timer_separator {
    display: none;
  }

  .timer_block__content {
    width: 100%;
    height: 180px;
  }

  #logo {
    position: unset;
    margin: 3rem auto;
  }

  #banner {
    display: none;
  }
}
